# For files used only by a symlink/junction to the ReturnOfModding plugins folder
/src/LICENSE
/src/icon.png
/src/manifest.json
/src/CHANGELOG.md
/src/README.md
/src/mm_v2_manifest.json

# For build artifacts created by the Thunderstore CLI
/build
tcli.exe
